h1 {
  color: #000000;
  text-align: center;
  text-size-adjust: 50px;
}

h2 {
  color: #000000;
  text-align: center;
}

h3 {
  color: #000000;
  text-align: center;
}

body {
  background-color: #999966;
}
p {
  font-family: Georgia, serif;
  font-size: 20px;
  color: black;
  text-align: left;
}
